* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#buttonGroup {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#buttonGroup button {
  padding: 10px 20px;
  margin-top: 30px;
}

#foodItems {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
    width: 40%;
}